@charset "utf-8";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*general reset*/

* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline:0;
}
body, html {
	height:100%;
	width:100%;
	min-height:400px;
	min-width: 320px;
	background-color:#fff;
	color: #343434;
}
#wrapper {
	height:100%;	
	min-width:320px;
	min-height: 400px;
}
section {
	width: 100%;
	/*overflow: auto;*/
}
img {
	display: block;
}

/* float and clear */
/**************************/
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/* Typography */
/**************************/

body,td,th, h1, h2, h3, h4, h5, p  {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 100%;
}
h1, h2, h3, h4, h5 {
	margin-bottom: 20px;
}
#wrapper h1 {
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}
#wrapper h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}
#wrapper h3 {
	font-size: 1.125em;
	font-weight: 700;
	text-transform: uppercase;
}
#wrapper h4 {
	font-size: 1.125em;
	font-weight: 500;
	text-transform: none;
}
#wrapper p {
	font-size: 1em;
}
p {
	margin-bottom: 1em;
}
strong {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: none;
}
em {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
}
a {
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
	text-decoration: none;
	cursor:pointer;
	cursor:hand; 
	color: inherit;
}
a:hover {
	color:#f47c20;	
	text-decoration:none;
}
.button {
    display: block;
    border: 1px solid #05a3d6;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    color: #343434;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    background: #fff;
    border-radius: 50px;
    -webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
}
.button:hover {
	color: #f47c20;
	border-color: #f47c20;
}
ul {
    list-style-position: inside;
    margin-bottom: 30px;
}
ul.credits {
	display: block;
	width: 100%;
	text-align: center;
}
#credits h1, #credits h2 {
	display: block;
	width: 100%;
	text-align: center;
}
ul.credits li {
	display: inline-block;
	margin: 0 30px;
}
.title-center {
	width: 100%;
	text-align: center;
}
/* Colours */
/**************************/
.cbrain-blue-bg {
	background-color: #05a3d6;
}
.grey {
	background-color: #f2f2f2;
}
/* Overall  styles */
/**************************/

#wrapper {
	overflow: auto;
	height: auto;
	width: 100%;
	background-color: #fff;
}
.content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.single-column {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 30px 0;
}
/* Header and Nav */
/**************************/

header {
	width: 100%;
	padding: 0 1em;
	height: 60px;
}

nav {
	height:100%;
	width:80%;
	float:right;
	font-size:1.1em;
	text-align: right;
	position: relative;	
}
nav a {
	color:#343434;
	text-decoration:none;
}
nav a:hover {
}
nav ul {
	display: block;
	width: 100%;
	list-style: none;
}
nav ul li {
	display: inline-block;
}
nav ul li.first {
	margin-left: 0;
}
#main-nav {
	margin-bottom: 0;
}
#main-nav li a {
    display: block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 15px;
    height: 60px;
}
#main-nav .active, #main-nav li a:hover  {
	border-bottom: 9px solid #f47c20;
}
#menu {
	display: none;
}
.slicknav_menu {
  display: none;
  float: right;
  padding: 0;
  margin: 0;
  z-index: 20000;
  background: none;
  position: absolute;
  top:10px;
  right:0;
  width:175px;
  text-align: left;
}
.slicknav_menu ul {
	background: #222;
	padding: 20px 0;
	border-radius: 10px;
}
.slicknav_menu li {
	font-size: 1.125em;
	font-weight: 200;
}
.slicknav_menu a.menu-fx {
	color: #fff;
	border-radius: 4px;
}
.slicknav_menu a.active {
	background-color: #fff;
	border-radius: 4px;
	color: #f47c20;
}
.slicknav_menu a.menu-fx:hover {
	color: #f47c20;
	background: #fff;
}

.slicknav_menu li:last-child {
}
.slicknav_btn {
}
.slicknav_icon-bar {
}

/* Burger Time*/
@media screen and (max-width: 1000px) {
	.slicknav_menu {
		display: inline-block;
	}
	#main-nav {
		display: none;
	}
}

.logodiv {
	display:block;
	height: 60px;
	width: 20%;
	float:left;
}
.logodiv img {
	height: 60px;
	padding: 10px 0;	
	width: auto;
}

/* Main body content */
/**************************/

/** Homepage content **/
/**************************/

.intro-p {
	width: 100%;
	max-width: 500px;
	margin: 0 auto 50px;
}
.div-logo {
    margin: 0 auto 50px;
    width: 100%;
    max-width: 300px;
}
.div-logo img {
	width: 100%;
	height: auto;
}
.icon-holder {
	display: block;
	width: 100%;
	margin: 0 auto 50px;
}
.icon-box {
	padding: 0;
	width: 100%;
	clear: both;
}
.icon-box h2 {
	font-size: 1em !important;
	text-align: left;
	float: left;
	margin-left: 30px;
	margin-bottom: 15px;
	width: calc(66.66% - 30px);
}
@media screen and (min-width: 640px) {
	.icon-box {
		padding: 0 30px 50px;
	}
	.icon-box h2 {
		font-size: 1.25em !important;
	}
}
.icon {
	margin-bottom: 50px;
	width: 33.33%;
	float: left;
}
@media screen and (min-width: 800px){
	.icon {
		margin-bottom: 15px;
	}
}
.icon img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}
.icon-box p {
	float: left;
	margin-left: 30px;
	width: calc(66.66% - 30px);
}
.blue-bar {
    position: relative;
}
.blue-bar:after
{
    content: "";
    background-color: #05a3d6;
    position: absolute;
	width: 10px;
    height: 300%;
    min-height: 300px;
    left: calc(50% - 5px);
    top: 1px;    
    z-index: 1;
}
.two-column-holder {
	display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px;
}
.icon-alone {
	width:33.33%;
	min-width: 186px;
	margin: 0 auto 50px;
	padding: 0 30px;
}
.icon-two {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.icon-alone img, .icon-two img {
	width: 100%;
	height: auto;
}
.icon-box-two {
	width: 120px;
	padding: 0 0 50px;
	float: left;
}
.icon-box-two:last-of-type {
	float: right;
}
@media screen and (min-width: 800px) {
	.icon-holder {
		display: flex;
	}
	.icon-box {
		width: 33.33%;
		clear: none;
	}
	.icon-box h2 {
	    text-align: center;
	    width: 100%;
	    margin-left: 0;
	}
	.icon {
		padding-bottom: 20px;
		width: 100%;
		height: auto;
		float: none;
	}
	.icon-box p {
		float: none;
		margin-left: 0;
    	width: 100%;
	}
}

/** Features content **/
/**************************/
.blue-bar-horizontal, .blue-bar-horizontal-reverse
{
    position: relative;
}
.icon-horizontal {

}
.icon-horizontal img {
	position: relative;
	z-index: 2;
	margin: 0 auto 30px;
}
.details-horizontal {
	
}
.features-holder {
	display: block;
	width: 100%;
	margin: 0 auto 100px;
}

@media screen and (min-width: 800px) {
	.icon-horizontal {
		float: left;
		width: 158px;
	}
	.features-holder {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto 100px;
	}
	.details-horizontal {
		margin-left: 50px;
		width: calc(100% - 208px);
		float: right;
	}
	.blue-bar:after
	{
		width: 300%;
	    height: 10px;
	    min-height: 10px;
	    left: 0;
	    top: calc(50% - 10px);
	    
	}
	.blue-bar-horizontal:after {
		content: "";
	    background-color: #05a3d6;
	    position: absolute;
		width: 10px;
	    height: 300%;
	    min-height: 300px;
	    left: calc(50% - 5px);
	    top: 2px;    
	    z-index: 1;
	}
	.blue-bar-horizontal-reverse:after {
		content: "";
	    background-color: #05a3d6;
	    position: absolute;
		width: 10px;
	    height: 350px;
	    left: calc(50% - 5px);
	    top: -275px;    
	    z-index: 1;	
	}
}
/** Projects and Projects Sub Pages content **/
/**************************/
.projects-holder {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto 100px;
}
.project-box {
	position: relative;
	border: 1px solid #05a3d6;
	border-radius: 20px;
	width: 100%;
	margin: 20px 0;
	padding: 20px 20px 80px;
}
.project-icon-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.project-icon-holder img {
	width: auto;
	height: auto;
	max-width: 80%;
}
.projects-button:first-of-type {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 0.75em;
}
.projects-button:last-of-type {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 0.75em;
}
.project-big-box {
	border: 1px solid #05a3d6;
	border-radius: 20px;
	width: 100%;
	padding: 20px;
	margin: 50px 0 100px;
}
.project-big-logo-holder {
    width: 100%;
}
.project-big-logo-holder img {
	width: 100%;
	margin-bottom: 20px;
}
.project-page-button {
	display: table;
	margin: 0 auto;
	width: auto;
	font-size: 0.75em;
}
@media screen and (min-width: 800px) {
	.projects-holder {
		display: flex;
	}
	.project-box {
		position: relative;
		border: 1px solid #05a3d6;
		border-radius: 20px;
		width: calc(50% - 40px);
		margin: 20px;
		padding: 20px 20px 80px;
		float: left;
	}
	.project-icon-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		margin: 0;
	}
	.project-icon-holder img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 180px;
	}
	.projects-button:first-of-type {
		font-size: 0.9em;
	}
	.projects-button:last-of-type {
		font-size: 0.9em;
	}
	.project-big-logo-holder {
	    width: calc(50% - 10px);
	    float: left;
	}
	.project-description {
		width: calc(50% - 10px);
		float: right;
	}
	.project-description p:last-of-type {
		margin-bottom: 50px;
	}
	.project-page-button {
		font-size: 0.9em;
	}
}

/* Get Started Page/*
/**************************/

.gs-page-align {
	position: relative;
}
.icon-box h4 {
    font-size: 1em !important;
    text-align: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 15px;
    width: calc(66.66% - 30px);
}
.gs-page-align .icon-box a {
	position: relative;
	float: left;
	margin-left: 30px;
	width: auto;
}
@media screen and (min-width: 800px) {
	.icon-box h4 {
		margin: 0 0 15px;
		float: none;
		text-align: center;
		width: 100%;
	}
	.gs-page-align .icon-box {
		position: relative;
		padding-bottom: 52px;
		margin: 0 0 50px;
	}
	.gs-page-align .icon-box a {
		position: absolute;
		bottom: 0;
		left: 30px;
		width: calc(100% - 60px);
		margin: 0;
	}
}

/* Support Page/*
/**************************/
.QA-list {
	list-style-type: none;
	margin-bottom: 50px;
}
.QA-list li {
	display: block;
	float: left;
	clear: both;
	margin-bottom: 50px;
	font-size: 1.5em
}
.QA-list li:nth-child(odd):before {
    content: "Q:";
    display: block;
    float: left;
    margin-right: 15px;
    line-height: .75em;
    font-size: 2.5em;
    color: #00a3d7;
    font-weight: 700;
}
.QA-list li:nth-child(even):before {
    content: "A:";
    display: block;
    float: left;
    margin-right: 15px;
    line-height: .75em;
    font-size: 3em;
    color: #f68b1f;
    font-weight: 700;
}

/* About Page */
/**************************/
.about-text-holder {
	margin-bottom: 100px;
}
.small-icon-left {
	width: 80px;
	margin: 0 auto 15px;
}
.small-icon-left img {
    width: 100%;
}
.about-text {
	display: block;
	width: 100%;
	margin-bottom: 50px;
}
.about-text-holder a {
    margin: 0 auto;
}
.team-card-holder {
	margin-bottom: 100px;
}
.team-name {
	font-size: 1.125em !important;
}
.team-card {
	border: 1px solid #05a3d6;
    padding: 1em;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 50px;
}
.team-card-pic {
    border-radius: 75px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 15px;
}
.team-card-pic img {
	width: 100%;
	height: auto;
}
.team-name {
	margin-bottom: 15px;
}
@media screen and (min-width: 640px) {
	.about-text-holder {
		clear: both;
	}
	.about-text-holder a{
		float: right;
	}
	.team-card-holder {
		display: flex;
		flex-flow: row wrap;
	}
	.team-card {
		position: relative;
		padding-bottom: calc(50px + 1.5em);
	}
	.team-card a.button {
		position: absolute;
		bottom: 1em;
		width: calc(100% - 2em);
	}
	.small-icon-left {
		float: left;
	}
	.about-text {
		float: left;
		width: calc(100% - 80px);
		padding-left: 15px;
	}
	.team-card {
	    width: 45%;
	    margin: 2.5%;
	    float: left;
	}
}
@media screen and (min-width: 800px) {
	.team-card {
	    width: 31%;
	    margin: 1%;
	    float: left;
	}
}
.team-detail-small {
	width: calc(33% - 10px);
}
.team-detail-large {
	width: calc(66% - 10px);
}
/* Footer */
/**************************/

footer {
	border-top: 9px solid #05a3d6;
	padding: 50px 30px;
}
.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer a {
	display: inline-block;
	width: 50%;
	padding: 10px;
}
footer a img {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 600px) {
	.flex {
		justify-content: flex-start;
	}
	footer a {
		width: auto;
	}
	footer a img {
		width: auto;
		max-height: 40px;
	}
}
section .content p a {
	text-decoration: underline;
	font-weight: 600;
}
section .content h2 a, section .content li a {
	text-decoration: underline;
}
